* {
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Sans", sans-serif;
}

body {
    background-color: rgb(130, 204, 137);
}

.carrusel {    
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
}

.imagen {
    flex: 1;
    padding: 25px;
}


h2 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

h6 {
    position: absolute;
    margin: 3px;
    text-align: center;

}


img {
    display: flex;
    width: 20vmax;
    height: 15vmax;
    justify-content: center;
    margin: 10px;
}



#Experiencia {
    text-align: center;
    margin: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}


h5 {
    margin: 5px;
    text-align: justify;
    font-weight: bold;
}

#experiences {
    display: flex;
    min-width: 250px;
    
}

#proyecto {
    display: inline-flex;
    margin-right: 10px;
}

p {
    margin-right: 10em;
}

.IE {
    display: flex;
    margin: 10px;
    width: 250px;
}

